
.show{"ng-controller" => "LightsCtrl"}
  .name
    %h1= @light.name

  .state
    {{ lit }}
    %br
    %a{"ng-click" => "on_switch()"}
      ON
    %a{"ng-click" => "off_switch()"}
      OFF

    / - if @light.lit
    /   ON | 
    /   %a{"ng-click" => "off_switch()"}
    /     OFF
    / - else 
    /   %a{"ng-click" => "on_switch()"}
    /     ON
    /   | OFF

  / = link_to 'See all lights', lights_path
